* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

aside {
  z-index: 1;
  height: 100%;
  width: 100px;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  pointer-events: none;
}

.btn {
  pointer-events: visible;
  outline: none;
  padding: 12px 4px;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  user-select: none;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #424242;
  color: white;
}

.btn:hover {
  cursor: pointer;
  background-color: white;
  color: #424242;
}

.container {
  right: 0;
  width: calc(100% - 100px);
}

canvas {
  background: transparent;
}

.hide {
  display: none;
}

footer {
  position: fixed;
  display: inline-flex;
  width: 100vw;
  bottom: 0;
  justify-content: space-between;
  align-items: flex-end;
}

.color-wrapper {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border: 1px solid black;
}

.color {
  border-radius: 4px;
  margin: 4px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.color.red {
  background-color: red;
}

.color.blue {
  background-color: blue;
}

.color.green {
  background-color: green;
}

.color.gray {
  background-color: gray;
}

.color.black {
  background-color: black;
}

.color.white {
  background-color: white;
}

.color.purple {
  background-color: purple;
}

.color.orange {
  background-color: orange;
}

.canvas-info {
  background: #424242;
  color: white;
  font-weight: bold;
  width: 100px;
  font-size: 16px;
  padding: 4px 16px;
  border-radius: 4px 0 0 0;
}

#overly {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
}

body.show-form #overly {
  display: flex;
  position: fixed;
  z-index: 1;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
}

.form input {
  margin: 10px 0;
  font-size: 20px;
  padding: 6px;
}

.form button {
  padding: 10px;
  background-color: black;
  color: white;
  margin: 10px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}